@import "tailwindcss";

:root {
  --mark-regular: 'Mark-Regular', sans-serif;
  --mark-medium: 'Mark-Medium', sans-serif;
  --mark-bold: 'Mark-Bold', sans-serif;
  
  --background: #fff;
  --foreground: #1d0f34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #1d0f34;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  font-family: var(--mark-regular), sans-serif;
}