@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #1d0f34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #1d0f34;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  font-family: var(--mark-regular), sans-serif;
}